@mixin icons-fontello {

	@font-face {
	  font-family: 'fontello';
	  src: url(fontello.eot);
	  src: url(fontello.eot?#iefix) format('embedded-opentype'), url(fontello.woff) format('woff'), url(fontello.ttf) format('truetype'), url(fontello.svg#fontello) format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
	
	[class^="icon-"] > .v-button-wrap:before,
	[class*=" icon-"] > .v-button-wrap:before,
	[class^="icon-"].v-nativebutton:before,
	[class*=" icon-"].v-nativebutton:before,
	[class^="icon-"].v-label:before,
	[class*=" icon-"].v-label:before,
	[class*="-icon-"].v-menubar-menuitem:before {
	  font-family: 'fontello';
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	  display: inline-block;
	  text-decoration: inherit;
	  text-align: center;
	  line-height: 1;
	  margin-right: .4em;
	  vertical-align: 1px;
	}
	
	[class^="icon-"] > .v-button-wrap:before,
	[class*=" icon-"] > .v-button-wrap:before,
	[class^="icon-"].v-nativebutton:before,
	[class*=" icon-"].v-nativebutton:before {
		margin: 0;
		margin-left: -.3em;
	}
	
	[class^="icon-"] > span > .v-button-caption,
	[class^="icon-"] > .v-nativebutton-caption,
	[class*=" icon-"] > span > .v-button-caption,
	[class*=" icon-"] > .v-nativebutton-caption {
	  margin-left: .3em;
	}
	
	@include icon(change-requests, '\21c4');
	@include icon(dashboard, '\2302');
	@include icon(reports, '\e7a2');	
	@include icon(schedule, '\1f4c5');
	@include icon(analytics, '\1f4c8');
	@include icon(cog, '\2699');
	@include icon(cog, '\2699');
	@include icon(user, '\1f464');
	@include icon(attention, '\26a0');
	@include icon(edit, '\270d');
	@include icon(bell, '\1f514');
	@include icon(cancel, '\2715');
	
}